@page
@model MyApp.Namespace.EditBookModel
@{
}
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
</br>
</br></br></br></br></br></br>

<form method="POST"><button type="submit"  asp-page-handler="Obrisi" asp-route-id="@Model.zaEdit.knjigaID" asp-route-zanr="@Model.zaEdit.zanr"asp-route-slika="@Model.nazivSlike">Obrisi knjigu</button></form>
<form method="POST" id="addBook"><h1>Unesite podatke o knjizi</h1></br></br></br></br>
<input type="hidden" asp-for="zaEdit.knjigaID"> 
<span class="space-out">
   <div class="labeled-input"> <label>Naziv:</label> <input type="text" asp-for="zaEdit.naziv"></div>
   <div class="labeled-input"> <label>Autor:</label> <input type="text" asp-for="zaEdit.autor"> </div> 
   <div class="labeled-input" style="visibility:hidden;"> <label>Zanr:</label> <input type="text" asp-for="zaEdit.zanr"></div> 
</span></br>
<span class="space-out">
     <div class="labeled-input"> <label>Broj Strana:</label><input   asp-for="zaEdit.brstrana"> </div>
     <div class="labeled-input"> <label>Godina izdavanja:</label> <input  asp-for="zaEdit.godina"></div>
    <div class="labeled-input"> <label>Količina:</label><input type="number"  min="0" asp-for="zaEdit.kolicina"></div>
</span></br>

<span class="space-out" >
     <div class="labeled-input" style="min-width: 176px;"> <label>Izaberite pismo:</label><select asp-for="zaEdit.pismo">    <option value="Ćirilica">ćirilica</option> <option value="Latinica">latinica</option>     <option value="Ostalo">ostalo</option></select> </div>
   <div class="labeled-input" > <label>Unesite jezik:</label> <input asp-for="zaEdit.jezik"></div>
    <div class="labeled-input" style="visibility: hidden;"> <label>Slika preload:</label><input  id="serialized-picture" asp-for="zaEdit.slika"></div>
</span></br>






</br></br></br>
<div style="display: flex;flex-direction:row; justify-content:space-between; width:50%;">
<div>
<label>Unesite opis knjige:</label><br/>
<textarea asp-for="zaEdit.opis" rows="10" cols="50"></textarea> <br><br><br>
</div>

<div style="margin-left: 10%;">
<label>Import-ujte sliku knjige</label>
<div class="bi-image">

<input id="import-files" type="file" accept="image/*" />
<img id="imported-img" >
</div>						  
     					
</div>

</div>

<input asp-for="@Model.nazivSlike" style="display: none;">

<button type="submit" >Save changes</button>
</form>
<br><br><br><br><br><br>

<script>
    document.querySelector("#addBook").onsubmit=()=>{
        document.getElementById("serialized-picture").value=document.querySelector("#imported-img").src;
  

    }
    window.onload = function(){
     
       document.querySelector("#imported-img").src= document.querySelector("#serialized-picture").value;


  
    //Check File API support
    if(window.File && window.FileList && window.FileReader)
    {
        var filesInput = document.getElementById("import-files");
        
        filesInput.addEventListener("change", function pictureNotificationMessage(event){
            file=event.target.files[0];
            var picReader = new FileReader();
            picReader.fileName=file.name;
            picReader.readAsDataURL(file);
            picReader.addEventListener("load",function(event){
         
            let imgElement=document.querySelector("#imported-img");
              imgElement.style.width='200px';
                 imgElement.style.height='200px';
                 imgElement.src=event.target.result; 
               
              
            });

        
		});      

	}
    }
				</script>