@page
@model MyApp.Namespace.NewBookModel
@{
}
<head>
    <link rel="stylesheet" href="css/style.css">
    <title>eBook | New book</title>
</head>
</br>
</br></br></br></br></br></br>


<form method="POST" id="addBook"><h1>Enter data about new book</h1></br></br></br></br>
<input type="hidden" asp-for="novaKnjiga.knjigaID"> 
<span class="space-out">
   <div class="labeled-input"> <label>Name:</label> <input type="text" asp-for="novaKnjiga.naziv"></div>
   <div class="labeled-input"> <label>Author:</label> <input type="text" asp-for="novaKnjiga.autor"> </div> 
   <div class="labeled-input"> <label>Genre:</label> <input id="zanr"type="text" asp-for="novaKnjiga.zanr"></div> 
</span></br>
<span class="space-out">
     <div class="labeled-input"> <label>Number of pages:</label><input   asp-for="novaKnjiga.brstrana"> </div>
     <div class="labeled-input"> <label>Year of release:</label> <input  asp-for="novaKnjiga.godina"></div>
    <div class="labeled-input"> <label>Quantity:</label><input type="number"  min="0" asp-for="novaKnjiga.kolicina"></div>
</span></br>

<span class="space-out" style="width: 29.4%;">
     <div class="labeled-input"> <label>Choose letter:</label><select asp-for="novaKnjiga.pismo">    <option value="Ćirilica">ćirilica</option> <option value="Latinica">latinica</option>     <option value="Ostalo">ostalo</option></select> </div>
   <div class="labeled-input" > <label>Enter language:</label> <input asp-for="novaKnjiga.jezik"></div>
    
</span></br>






</br></br></br>
<div style="display: flex;flex-direction:row; justify-content:space-between; width:50%;">
<div>
<label>Enter description:</label><br/>
<textarea asp-for="novaKnjiga.opis" rows="10" cols="50"></textarea> <br><br><br>
</div>

<div style="margin-left: 10%;">
<label>Import photo</label>
<div class="bi-image">

<input id="import-files" type="file" accept="image/*" />
<img id="imported-img"src="">
</div>						  
     					
</div>

</div>


<input type="text" id="serialized-picture" asp-for="novaKnjiga.slika" hidden>
<button type="submit">Add book</button>
</form>
<br><br><br><br><br><br>

<script>
    document.querySelector("#addBook").onsubmit=()=>{
        if(document.querySelector("#imported-img").src=="https://localhost:5001/newBook")
        {
            alert("unesite sliku");  return false;
            }
             if(document.querySelector("#zanr").value=="")
        {
            alert("unesite zanr");  return false;
            }
        document.getElementById("serialized-picture").value=document.querySelector("#imported-img").src;
  

    }
    window.onload = function(){
  
    //Check File API support
    if(window.File && window.FileList && window.FileReader)
    {
        var filesInput = document.getElementById("import-files");
        
        filesInput.addEventListener("change", function pictureNotificationMessage(event){
            file=event.target.files[0];
            var picReader = new FileReader();
            picReader.fileName=file.name;
            picReader.readAsDataURL(file);
            picReader.addEventListener("load",function(event){
         
            let imgElement=document.querySelector("#imported-img");
              imgElement.style.width="300px";
                 imgElement.style.height="300px";
                 imgElement.src=event.target.result; 
               
              
            });

        
		});      

	}
    }
				</script>